In [1]:
import pandas as pd

# Pandas DataFrame

In [2]:
l1=[1,2,3]
df1=pd.DataFrame(l1)
df1

   0
0  1
1  2
2  3

In [3]:
l2=[[1,2,3],[4,5,6],[7,8,9]]
df2=pd.DataFrame(l2)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df2=pd.DataFrame(l2,columns=['a','b','c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
dict1={'a':1,'b':1}
df3=pd.DataFrame(dict1,index=[0])
df3

   a  b
0  1  1

In [25]:
dict2={'a':[1,2,3],'b':[4,5]} 
df4=pd.DataFrame(dict2,index=[0,1,2])   #Careful gives an error
df4

ValueError: could not broadcast input array from shape (2) into shape (3)

In [26]:
dict2={'a':[1,2,3],'b':[4,5,None]} 
df4=pd.DataFrame(dict2,index=[0,1,2])   #Careful doesn't give error
df4

   a    b
0  1  4.0
1  2  5.0
2  3  NaN

In [19]:
list_of_dict=[{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6}]
df4=pd.DataFrame(list_of_dict)
df4

   a  b  c
0  1  2  3
1  4  5  6

In [15]:
list_of_dict1=[{'a':1,'b':2,'c':3},{'a':4,'b':5}]
df5=pd.DataFrame(list_of_dict1)
df5

   a  b    c
0  1  2  3.0
1  4  5  NaN

In [30]:
dict_of_series={'a':pd.Series([1,2,3]),'b':pd.Series([4,5])}

df5=pd.DataFrame(dict_of_series,dtype=int)  
df5

   a    b
0  1  4.0
1  2  5.0
2  3  NaN

In [32]:
df5.dtypes

a      int32
b    float64
dtype: object