It is a library that is basically used in data preprocessing and reading the raw data and converting it to a suitable form so that we can work on it.It can be used to read and write csv, tsv(tab seperated) ,excel,xml,json files.Pandas Data Structures are Series,DataFrame and Panel
Series is a data structure which contains only one column and is like 1-d array.Collection of series form DataFrames which is similar to 2-d array.Panel is like 3-d array

# Pandas Series

In [22]:
import pandas as pd
import numpy as np

In [23]:
arr1=np.arange(1,13)

In [24]:
series=pd.Series(arr1)

In [25]:
series

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int32

In [26]:
s2=pd.Series([1,2,3,4],index=['a','b','c','d'])

In [27]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
s2=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)

In [29]:
s2

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [30]:
s2=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='data values')
s2

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [32]:
dict1={'a':1,'b':2,'c':'hello','d':34}
s3=pd.Series(dict1)
s3

a        1
b        2
c    hello
d       34
dtype: object

In [49]:
s3['a':'c']

a        1
b        2
c    hello
dtype: object

In [35]:
s2[1:3]

b    2.0
c    3.0
Name: data values, dtype: float64

In [36]:
s5=pd.Series(0.5,index=[1,2,3])

In [37]:
s5

1    0.5
2    0.5
3    0.5
dtype: float64

In [38]:
s5=pd.Series(0.5)
s5

0    0.5
dtype: float64

In [40]:
s6=pd.Series([],dtype=object)
s6

Series([], dtype: object)

In [41]:
max(s2)

4.0

In [43]:
min(series)

1

In [44]:
s2[s2>2.0]

c    3.0
d    4.0
Name: data values, dtype: float64

In [45]:
s7=pd.Series([1,2,3])

In [46]:
s8=pd.Series([1,2,3,4,5])

In [47]:
s7+s8

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [48]:
s9=pd.Series([2,3,4])