In [1]:
import pandas as pd

# Reading Csv Files

In [5]:
df1=pd.read_csv('C:\\Users\\hp\\Documents\\students.csv')
df1

      ID      Name  Study Hours  Sleep Hours  Percentage
0   1001    Komal             5            5          99
1   1002    Adarsh            5            4          98
2   1003    Nikhil            2            9          96
3   1004    Naveen            1            7          65
4   1005    Sunita            6            5          45
5   1006     Lalit            4            3          85
6   1007     Divya            8            1          78
7   1008  Khushboo            9            2          96
8   1009    Kartik            1            5          73
9   1010   Rishika            8            6          68
10  1011   Akshima            7            4          79

In [6]:
type(df1)

pandas.core.frame.DataFrame

Conclusion:Above is a DataFrame

In [9]:
se=pd.read_csv('E:\\lalit ji\\Desktop\\companies.csv')
se1=pd.Series(se)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
type(se)

pandas.core.frame.DataFrame

In [10]:
import os
print(os.getcwd())

C:\Users\hp\Data Science\Pandas